* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tahoma', sans-serif;
}

/* -------------------------------------------------------------------------- */
/*                               pagina inicial                               */
/* -------------------------------------------------------------------------- */

body {
    width: 100%;
    height: 110vh; /* altura do viewport */
background-image: url('../img/nvlogo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin-bottom: 10%;
    color: rgb(137, 155, 199);
    font-family: sans-serif;
}

button {
    display: block;
    width: auto;
    height: 40px; /* Define a altura do botão */
    padding: 10px 5px;
    background-color: rgb(42, 44, 51);
    color: #eee2e2;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 3%;
    position:relative;
    bottom: -290px; /* Distância da parte inferior da página */
    left: 50%;
    transform: translateX(-50%);
}

button:hover {
    background-color: rgb(31, 115, 148);
    transition: .5s;
}